@import '@menukaze/ui/styles.css';

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;
    --primary: 240 10% 3.9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 0 0% 94%;
    --muted-foreground: 240 3.8% 38%;
    --accent: 160 84% 39%;
    --accent-foreground: 0 0% 98%;
    --border: 240 5.9% 88%;
    --input: 240 5.9% 84%;
    --ring: 160 84% 39%;
  }

  body {
    overscroll-behavior: none;
  }
}
